<mat-sidenav-container class="sidenav-container">
    <!-- Main Sidebar -->
    <mat-sidenav #sidenav mode="side" opened [ngClass]="{'open': !sidebar, 'close': sidebar}">
      <div class="sidenav-cont" >
        <div class="topnav">
          <div class="nav-header" (click)="toggleSidebar()">
            <img class="sscgiLogo" src="../../../assets/Images/Logo.png" alt="" >
            <p *ngIf="!showLabels"  class="sscgiTitle">Systems and software Consulting group inc.</p>
            <!-- Toggle button with ngIf to hide when sidebar is closed -->
            <!-- <button mat-icon-button *ngIf="!sidebar" (click)="toggleSidebar()">
              <mat-icon>{{ sidebar ? 'chevron_left' : 'chevron_right' }}</mat-icon>
            </button> -->
          </div>
          <div class="collapsable-nav-cont">
            <div class="tabs-cont" *ngFor="let tab of collapsableTabs">
              <div class="collapsable-item" [ngClass]="{'small': sidebar}" (click)="toggleTab(tab)">
                <div>
                  <img class="icon" [src]="tab.icon" alt="">
                  <a *ngIf="!showLabels" mat-line>{{tab.name}}</a>
                </div>
                <mat-icon *ngIf="!showLabels" mat-list-icon [ngClass]="{'expanded': tab.expanded}" class="arrow-icon">keyboard_arrow_down</mat-icon>
              </div>
              <div class="subtab-cont" [ngClass]="{'expanded': tab.expanded}" *ngIf="tab.expanded && !sidebar " >
                <div class="subtab-item" *ngFor="let subtab of tab.subtabs" [routerLink]="subtab.link" routerLinkActive="active" (click)="setActiveTab(subtab)">
                  <div>
                    <img [src]="subtab.icon" alt="">
                    <a mat-line>{{subtab.name}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="collapsable-nav-cont">
          <div class="tabs-cont" *ngFor="let tab of bottomTabs">
            <div class="bottomTabs-item" [ngClass]="{'small': sidebar}" [routerLink]="tab.link" routerLinkActive="active" (click)="setActiveTab(tab)">
              <div>
                <img class="icon" [src]="tab.icon" alt="">
                <a *ngIf="!showLabels" mat-line>{{tab.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav>
  
    <!-- Main Content -->
    <mat-sidenav-content [ngClass]="{'largemargin': !sidebar, 'smallmargin': sidebar}">
      <!-- Header Content -->
      <div class="page-header">
        <div>
          <img class="icon" [src]="activeTab.icon">
          <p mat-line>{{activeTab.name}}</p>
        </div>
        <div>
          <img class="icon" src="../assets/Images/User Shield.png">
          <p mat-line>{{data?.firstName}} {{data?.middleName}} {{data?.lastName}}</p>
          <span class="role-type">{{roleData?.roleName}}</span>
        </div>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  