@import '../../../../assets/modal.css';

.modal-header {
    background-color: rgba(22, 101, 52, 0.5);
}

.modal-header h1 {
    font-size: 1.125rem;
    font-weight: 500;
}

.modal-button {
    padding: 12px 0;
    width: 100%;
    margin-left: 0 !important;
}


