// landing page 

// color-style
$landing-page-title-color: var(--landing-page-title-color);
$landing-page-title-color2: var(--landing-page-title-color2);
$landing-page-subtext-color:var(--landing-page-subtext-color);
//font-style
$landing-page-title-font-family: var(--landing-page-title-font-family);
$landing-page-title-font-size: var(--landing-page-title-font-size);
$landing-page-title-font-weight: var(--landing-page-title-font-weight);
$landing-page-title-text-align:var(--landing-page-title-text-align);
$landing-page-title2-font-size: var(--landing-page-title2-font-size);
$landing-page-title2-font-weight: var(--landing-page-title2-font-weight);

$landing-page-subtext-font-family:var(--landing-page-subtext-font-family);
$landing-page-subtext-font-size:var(--landing-page-subtext-font-size);
$landing-page-subtext-font-weight:var(--landing-page-subtext-font-weight);
// button
//left
$landing-page-left-button-bg-color:var(--landing-page-left-button-bg-color);
$landing-page-left-button-border-color:var(--landing-page-left-button-border-color);
$landing-page-left-button-border-style:var(--landing-page-left-button-border-style);
$landing-page-left-button-border-width:var(--landing-page-left-button-border-width);
$landing-page-left-button-font-family:var(--landing-page-left-button-font-family);
$landing-page-left-button-font-size:var(--landing-page-left-button-font-size);
$landing-page-left-button-font-weight:var(--landing-page-left-button-font-weight);
$landing-page-left-button-font-color:var(--landing-page-left-button-font-color);
$landing-page-left-button-border-radius:var(--landing-page-left-button-border-radius);
//right
$landing-page-right-button-bg-color:var(--landing-page-right-button-bg-color);
$landing-page-right-button-border-color:var(--landing-page-right-button-border-color);
$landing-page-right-button-border-style:var(--landing-page-right-button-border-style);
$landing-page-right-button-border-width:var(--landing-page-right-button-border-width);
$landing-page-right-button-font-family:var(--landing-page-right-button-font-family);
$landing-page-right-button-font-size:var(--landing-page-right-button-font-size);
$landing-page-right-button-font-weight:var(--landing-page-right-button-font-weight);
$landing-page-right-button-font-color:var(--landing-page-right-button-font-color);
$landing-page-right-button-border-radius:var(--landing-page-right-button-border-radius);

