p, h1{
    margin: 0;
}

.default{
    padding: 16px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.two-column-style, .one-column-style, .three-column-style, .one-column-left-half-style, .one-column-right-half-style{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.one-column-style{
    flex-direction: column;
}

.one-column-left-half-style {
    width: 50%;
    align-self: flex-start;
}

.one-column-right-half-style {
    width: 50%;
    align-self: flex-end;
}