.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 100%;
    border-radius: 0;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
}

.mobile-nav-item {
    padding: 10px;
    border-radius: 1px;
}


.mobile-nav-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.mobile-nav-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.arrow-icon {
    margin-left: 8px;
    /* Adjust spacing between link text and icon */
    font-size: 1.9rem;
}

.mobile-nav-line {
    width: 97%;
    height: 1px;
    margin-left: 6px;
    margin-top: 5px;
    background-color: #ccc;

}

.mobile-sub-nav {
    padding-left: 20px;
}

.mobile-sub-nav-title {
    font-weight: bold;
    color: #166534;
}

.mobile-sub-nav-link {
    text-decoration: none;
    color: black;
    padding: 5px;
    display: block;
}

.mobile-sub-nav-link:hover {
    background-color: #f0f0f0;
    color: #166534;
}