@import '../../../../assets/modal.css';

.modal-header {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: rgba(22, 101, 52, 0.5);
    justify-content: flex-start;
}



.modal-button {
    padding: 12px 0;
    width: 49%;
    margin-left: 0 !important;
}
