.container {
    position: relative;
}

.background-image {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    padding: 40px;
}

.text-content {
    position: absolute;
    left: 7%;
    top: 7%;
    max-width: 400px;

}

.main-text {
    font-size: 91.69px;
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 76.4px;
    text-align: left;
    color: black;
    margin: 0;
}

.highlight-text {
    color: #149F17;
}

.sub-text {
    margin-top: 20px;
    font-size: 19.1px;
    font-family: 'Inter', sans-serif;
    line-height: 26.7px;
    color: #364050;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.primary-action {
    background-color: #166534;
    color: white !important;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: 0;
}

.secondary-action {
    background-color: white;
    color: #166534 !important;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: 0;
}

.button-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: #166534;
    border-radius: 5px;
    color: white !important;
}

.button-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: white;
    border: 2px solid #166534;
    border-radius: 5px;
    color: #166534 !important;
}



/* Mobile View */

/* tablet view */
@media screen and (max-width: 1024px) {
    .text-content {
        position: absolute;
        left: 7%;
        top: 7%;
        max-width: 400px;

    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        padding: 40px;
    }


}

/* phone view */
@media screen and (min-width: 300px) and (max-width: 767px) {

    .text-content {
        position: absolute;
        left: 7%;
        top: 7%;
        max-width: 300px;

    }

    .main-text {
        font-size: 3.75rem;
        font-family: "Inter", sans-serif;
        font-weight: bold;
        line-height: 75px;
        text-align: left;
        color: black;
        margin: 0;
    }

    .sub-text[_ngcontent-ng-c610753257] {
        margin-top: 20px;
        font-size: 1rem;
        font-family: "Inter", sans-serif;
        line-height: 26.7px;
        color: #364050;
    }

    .buttons {
        margin-top: 30px;
        display: flex;
        gap: 10px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        padding: 40px;
    }
}