<footer class="footer-container">
    <div class="footer-content">
        <div class="left-section">
            <div class="info-sections">
                <div>
                    <img [src]="footerlogo" alt="Logo" class="footer-logo">
                    <div class="info-section location-section">
                        <h2 class="info-title">Location</h2>
                        <p class="info-subtext">
                            Unit 214–218 Buma Building, 1012 Metropolitan Avenue<br>
                            San Antonio Village, Makati City, Philippines 1203<br>
                            (+63) 999 999 9999
                        </p>
                    </div>
                </div>
                <div class="info-column">
                    <div class="info-section">
                        <h2 class="info-title">Home</h2>
                        <ul class="info-subtext">
                            <li>News</li>
                            <li>Insights</li>
                            <li>Contact Us</li>
                            <li>Careers</li>
                        </ul>
                    </div>
                </div>
                <div class="info-column">
                    <div class="info-section">
                        <h2 class="info-title">Company</h2>
                        <ul class="info-subtext">
                            <li>About us</li>
                            <li>Our Partners</li>
                            <li>Our Clients</li>
                        </ul>
                    </div>
                    <div class="info-section">
                        <h2 class="info-title">Services</h2>
                        <ul class="info-subtext">
                            <li>Integration Services</li>
                            <li>IT Consulting</li>
                            <li>Scanning Services</li>
                            <li>Staff Augmentation</li>
                            <li>Systems Development</li>
                        </ul>
                    </div>
                </div>
                <div class="info-column">
                    <div class="info-section">
                        <h2 class="info-title">Home Grown Solutions</h2>
                        <ul class="info-subtext">
                            <li>Acquisition of Resources and Inventory System</li>
                            <li>Anti Money Laundering - Integral 360</li>
                        </ul>
                    </div>
                    <div class="info-section">
                        <h2 class="info-title">Partnered Solutions</h2>
                        <ul class="info-subtext">
                            <li>Anti Money Laundering Software</li>
                            <li>Customer Relationship Management System</li>
                            <li>Digital Signing Software</li>
                            <li>Enterprise Content Management Software</li>
                            <li>Loans Origination and Management Collection Software</li>
                            <li>Human Resources Information System</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-icons">
            <img src="assets/FacebookLogo.png" alt="">
            <img src="assets/InstagramLogo.png" alt="">
            <img src="assets/LinkedinLogo.png" alt="">
            <img src="assets/TwitterLogo.png" alt="">
            <img src="assets/YoutubeLogo.png" alt="">

            <button class="download-brochure">Download Brochure</button>
        </div>
        <hr class="footer-divider">
        <div class="footer-bottom">
            <div class="footer-links">
                <a href="#">Terms of Service</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Security</a>
                <a href="#">Sitemap</a>
            </div>
            <div class="footer-copyright">
                © Copyright 2024 SSCGI. All rights reserved.
            </div>
        </div>
    </div>
</footer>