h1{
    margin: 0;
}


.modal-cont{
    display: flex;
    flex-direction: column;
}

.modal-header{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: rgba(22, 101, 52, 0.5);
    justify-content: flex-start;
}

.modal-header h1{
    font-size: 1.125rem;
    font-weight: 500;
}

.form-cont{
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-cont h1{
    font-size: 1.125rem;
}

.modal-button{
    padding: 12px 24px;
    border-radius: 5px;
    width: 48%;
    min-width: 116px;
}

.basic-button{
    padding: 12px 24px;
    border-radius: 5px;
    min-width: 116px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.form{
    display: flex;
    flex-direction: column;

}

.fields-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

.fields {
    flex: 1;
    width: 100%;
}

.margin-bot{
    margin-bottom: 20px;
}

.form-header{
    font-size: 18px;
}

.checkBoxContainer {
    display: flex;
    flex-wrap: wrap;
}

.parentCheckBox, .childCheckBox{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.parentCheckBox{
    flex: 1 1 33.33%;
}

.childCheckBox{
    padding-left: 40px;
}

