<div mat-dialog-title class="modal-header">
  <img [src]="icon" alt="">
  <h1>{{ formConfig.title }}</h1>
</div>
<mat-dialog-content class="mat-typography">

  <!--Dynamic Form-->
  <form [formGroup]="dynamicForm" class="form">
    <h1 class="form-header margin-bot" *ngIf="module === 'role-management'">Role Information</h1>
    <div class="fields-cont">
        <mat-form-field *ngFor="let field of formConfig.fields" appearance="outline" class="fields" [ngClass]="{'single-line-textarea': field.type === 'textarea'}">
          <mat-label>{{ field.label }}</mat-label>
          <ng-container [ngSwitch]="field.type">
            <input *ngSwitchCase="'text'" matInput [formControlName]="field.key" [required]="field.required!">
            <input *ngSwitchCase="'email'" matInput [type]="field.type" [formControlName]="field.key" [required]="field.required!">
            <input *ngSwitchCase="'number'" matInput [type]="field.type" [formControlName]="field.key" [required]="field.required!">
            <textarea *ngSwitchCase="'textarea'" matInput [formControlName]="field.key" [type]="field.type" ></textarea>
          </ng-container>
        </mat-form-field>
    </div>

    <!-- Role Policy checkbox-->
    <div *ngIf="formConfig.policies" class="fields-cont margin-bot">
      <h1 class="form-header">Role Policy Information</h1>
      <button mat-flat-button class="basic-button selectall" (click)="toggleSelectAll()">{{selectAll}}</button>
    </div>

    <div formArrayName="rolePolicies" *ngIf="formConfig.policies" class="checkBoxContainer">
      <div class="parentCheckBox" *ngFor="let policy of rolePoliciesArray.controls; let i=index" [formGroupName]="i">
        <mat-checkbox formControlName="enabled" (change)="toggleOptions(i)">
          {{ policy.get('name')?.value }}
        </mat-checkbox>
        <div *ngIf="policy.get('enabled')?.value" formArrayName="options" class="childCheckBox">
          <mat-checkbox *ngFor="let option of getOptionsArray(i).controls; let j=index" [formControlName]="j">
            {{ formConfig.policies[i].options[j] }}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <!-- End of Role Policy checkbox -->

  </form>

</mat-dialog-content>
<mat-dialog-actions class="buttons">
  <button mat-stroked-button [mat-dialog-close]="true" class="modal-button cancel">Cancel</button>
  <button mat-flat-button class="modal-button" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
