/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-header-row {
    background-color: #166534 !important;
    color: #ffffff !important;
}

.mat-mdc-row:hover {
    cursor: pointer;
    background-color: #f7f7f7 !important;
    color: #000000 !important;
}

.mat-sort-header-arrow {
    color: white !important;
}

.mat-mdc-unelevated-button:not(:disabled) {
    background-color: #166534 !important;
}

.mat-mdc-outlined-button:not(:disabled) {
    color: #FFCD29 !important;
    border-color: #FFCD29 !important;
}

.mat-mdc-outlined-button.cancel:not(:disabled) {
    color: red !important;
    border-color: red !important;
}