h1{
    margin: 0;
}

.form-header{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: capitalize;
}

.icon{
    filter: invert(100%);
}

.modal-cont {
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: rgba(22, 101, 52, 0.5);
    justify-content: flex-start;
}

.modal-header h1 {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;
}

.modal-button, .basic-button {
    padding: 12px 24px;
    border-radius: 5px;
    min-width: 116px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.delete-cont{
    padding: 26px 0;
}

.delete-message{
    font-size: 18px;
    font-weight: 500;
}

.fields-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    flex-wrap: wrap;
}

.fields {
    flex: 1 1 30%;
}

.margin-bot {
    margin-bottom: 20px;
}

.checkBoxContainer {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.parentCheckBox, .childCheckBox {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.parentCheckBox {
    padding: 6px;
    border: 1px solid #000000;
    border-radius: 5px;
    gap: 5px;
    flex: 1 1 48%;
    height: fit-content;
}

.childCheckBox {
    flex-direction: row;
    gap: 0;
    justify-content: space-evenly;
}

.single-line-textarea {
    flex: 1 1 100%;
    height: fit-content !important;
}

.date {
    max-width: 296px;
    cursor: pointer;
}

.textarea {
    resize: none;
    height: 250px !important;
}

.modal-button{
    padding: 12px 0;
    width: 49%;
    margin-left: 0 !important;
}

ngx-mat-select-search {
    .mat-select-search {
      padding: 0;
      margin: 0;
    }
  }


  .fileUploadContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border: dashed 1px #979797;
    text-align: center;
    justify-content: center;
    position: relative; 

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 100%;
        max-width: 100%;
    }

    .noImageContainet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 11px;

        button {
            font-size: 11px;
        }
    }

    .deleteButton {
        position: absolute;
        z-index: 10;
        top: -25px;
        inset-inline-end: -10px;
        opacity: 50%;
    }

    .fileInput {
        position: absolute;
        z-index: 100;
        opacity: 0; 
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        cursor: pointer;
    }
  }

  .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top of other elements */
  }
  
  .spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
/* Media Queries */
@media (max-width: 1530px) {
    .parentCheckBox {
        flex: 1 1 100%; /* Make the element take up 100% of the width */
    }

    /* Uncomment if needed */
    /* .fields {
        flex: 1 1 47%;
    } */
}