

<div class="spinner-overlay" *ngIf="isLoading">
  <div class="spinner"></div>
</div>
<div mat-dialog-title class="modal-header">
  <img [src]="icon" [class]="{'icon': mode !== 'create'}">
  <h1 class="form-header">{{ mode }} {{ module }}</h1>
</div>


<mat-dialog-content class="mat-typography">
  <form [formGroup]="dynamicForm" class="form" *ngIf="mode !== 'delete' && mode !== 'restore'">
    <h1 class="form-header margin-bot" *ngIf="module === 'role'">Role Information</h1>
    <div class="fields-cont">
      <mat-form-field *ngFor="let field of formConfig.fields"
      [appearance]="(mode === 'create' || mode === 'edit') ? 'outline' : 'fill'" 
      class="fields"
      [ngClass]="{'single-line-textarea': field.fullWidth, 'date': field.type === 'date'}"
      (click)="handleFieldClick(field, picker)">
  
      <mat-label>{{ field.label }}</mat-label>
      <ng-container [ngSwitch]="field.type">
          <input *ngSwitchCase="'text'" matInput [formControlName]="field.key" [required]="field.required!">
          <input *ngSwitchCase="'email'" matInput [type]="field.type" [formControlName]="field.key" [required]="field.required!">
          <input *ngSwitchCase="'number'" matInput [type]="field.type" [formControlName]="field.key" [required]="field.required!">
          <textarea class="textarea" *ngSwitchCase="'textarea'" matInput [formControlName]="field.key" [type]="field.type"></textarea>
          <mat-hint *ngIf="field.type === 'textarea'">Use a period (.) to create a new bullet or line.</mat-hint>
          <input *ngSwitchCase="'date'" matInput [matDatepicker]="picker" [formControlName]="field.key" [required]="field.required!">
          <mat-datepicker-toggle *ngSwitchCase="'date'" matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
  
          <mat-select *ngSwitchCase="'select'" [formControlName]="field.key" [required]="field.required!">
              <mat-option>
                  <ngx-mat-select-search [formControl]="searchControl" placeholderLabel="Search options"
                      noEntriesFoundLabel="No results found"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let option of field.filteredOptions" [value]="option.value">
                  {{ option.label }}
              </mat-option>
          </mat-select>
          <div *ngSwitchCase="'file'">
            <div class="fileUploadContainer" 
                 [ngStyle]="{'margin-top' : dynamicForm.get('ImageURL')!.value ? '5px' :  '20px'}">
                <ng-container *ngIf="dynamicForm.get('ImageURL')!.value">
                    <img [src]="dynamicForm.get('ImageURL')!.value" />
                    <button class="deleteButton" mat-icon-button 
                            (click)="fileInput.value = ''; dynamicForm.get('ImageURL')?.setValue(null);">
                        <mat-icon>close</mat-icon>
                    </button>
                </ng-container>
                <div *ngIf="!dynamicForm.get('ImageURL')!.value" 
                     fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <mat-icon style="opacity: 60%;">file_upload</mat-icon>
                    <button mat-raised-button color="primary" style="width:100%; opacity: 80%;" 
                            (click)="fileInput.click()">Browse</button> <!-- Trigger file input on button click -->
                    <small style="margin: 20px">Drag and drop here</small>
                </div>
                <input #fileInput class="fileInput" type="file" accept="image/*"
                       (change)="setFileData($event)" hidden  />
            </div>
            <input matInput  readonly  [formControlName]="field.key" [hidden]="true" style="display: none;" />
        </div>
      </ng-container>
  </mat-form-field>
  
    </div>
    
    <!-- Role Policy checkbox-->
    <div *ngIf="formConfig.policies" class="fields-cont margin-bot">
      <h1 class="form-header">Role Policy Information</h1>
      <button *ngIf="mode !== 'view'" mat-flat-button class="basic-button selectall"
        (click)="toggleSelectAll()">{{selectAll}}</button>
    </div>

    <div formArrayName="Policies" *ngIf="formConfig.policies" class="checkBoxContainer">
      <div class="parentCheckBox margin-bot" *ngFor="let policy of rolePoliciesArray.controls; let i=index"
        [formGroupName]="i" (click)="toggleOptions(i)">
        <mat-checkbox formControlName="isChecked" (change)="updateSelectAllText()">
          {{ policy.get('name')?.value }}
        </mat-checkbox>
        <div *ngIf="policy.get('isChecked')?.value" formArrayName="options" class="childCheckBox">
          <mat-checkbox *ngFor="let option of getOptionsArray(i).controls; let j=index" [formControlName]="j"
            (change)="updateSelectAllText()">
            {{ formConfig.policies[i].options[j] }}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <!-- End of Role Policy checkbox -->
  </form>

  <div *ngIf="mode === 'delete'" class="delete-cont">
    <h1 class="delete-message">Are you sure you want to delete this {{module}}?</h1>
  </div>

  <div *ngIf="mode === 'restore'" class="delete-cont">
    <h1 class="delete-message">Are you sure you want to restore this {{module}}?</h1>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="buttons">
  <button mat-stroked-button (click)="onCancel()" class="modal-button cancel"
    [ngClass]="{'single-line-textarea': mode ==='view'}">Cancel</button>
  <button *ngIf="mode ==='delete'" mat-flat-button class="modal-button" (click)="onDelete()">Delete</button>
  <button *ngIf="mode ==='restore'" mat-flat-button class="modal-button" (click)="onRestore()">Restore</button>
  <button *ngIf="mode !== 'view' && mode !== 'delete' && mode !== 'restore'" mat-flat-button class="modal-button" (click)="onSubmit()">Submit</button>

</mat-dialog-actions>