<div class="content">
  <div class="cont1">
    <div class="search-container">
      <input class="searchinput" type="text" placeholder="Search..." [(ngModel)]="searchTerm"
        (keyup)="applyFilter($event)" />
      <mat-icon>search</mat-icon>
    </div>
    <div class="buttons">
      <button *ngIf="canCreate" mat-flat-button class="basic-button"
        (click)="module !== 'section-formatting' ? openCrudModal(null,'create') : redirectTo('create')">Create</button>

      <button *ngIf="canRestore" mat-stroked-button class="basic-button">Restore</button>
    </div>
  </div>

  <div class="mat-elevation-z8 cont2">

    <div *ngIf="loading" class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'actions-column': column.key === 'actions'}">
          {{ column.header }} </th>

        <td mat-cell *matCellDef="let element" [ngClass]="{'actions-column': column.key === 'actions'}">
          <ng-container [ngSwitch]="column.key">

            <ng-container *ngSwitchCase="'name'">
              {{ element['firstName'] + ' ' + element['middleName'] + ' ' + element['lastName'] }}
            </ng-container>

            <ng-container *ngSwitchCase="'actions'">
              <div class="actions-cell">
                <button *ngIf="canEdit" mat-mini-fab class="editbtn"
                  (click)="module !== 'section-formatting' ? openCrudModal(element,'edit') : redirectTo('edit')"
                  matTooltip="Edit" matTooltipPosition="above">
                  <img src="../../../../assets/Images/Edit Property.png">
                </button>
                <button *ngIf="canView" mat-mini-fab class="viewbtn"
                  (click)="module !== 'section-formatting' ? openCrudModal(element, 'view') : redirectTo('view')"
                  matTooltip="view" matTooltipPosition="above">
                  <img src="../../../../assets/Images/View.png">
                </button>
                <button *ngIf="canDelete" mat-mini-fab class="deletebtn" (click)="openCrudModal(element, 'delete')" matTooltip="delete"
                  matTooltipPosition="above">
                  <img src="../../../../assets/Images/Trash.png">
                </button>
              </div>
            </ng-container>

            <ng-container *ngSwitchDefault>
              {{ element[column.key] }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div *ngIf="dataSource.data.length === 0" class="no-data-message">No records found</div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
