<app-table *ngIf="!isRestore"
[isRestore]="isRestore" 
[data]="data" 
[columns]="myColumns" 
[link]="link" 
[module]="module"
[createModalData]="createModalData"
(submitTriggered)="onSubmit($event[0], $event[1])" 
(isRestoreChange)="onIsRestoreChange($event)">
</app-table>
<app-restore-table *ngIf="isRestore"
[isRestore]="isRestore" 
[data]="deletedData" 
[columns]="myColumns" 
[link]="link" 
[module]="module"
[createModalData]="createModalData"
(submitTriggered)="onSubmit($event[0], $event[1])"
(isRestoreChange)="onIsRestoreChange($event)">
</app-restore-table>